/* You can add global styles to this file, and also import other style files */
.big-text{
    font-size: 20vh;
}

.not-so-big-text {
    font-size: 15vh;
}

p {
    font-family: 'Kanit', Roboto , 'Times New Roman', Times, serif;
}